Imports dos pacotes e teste do método .lerarquivos

In [7]:
import pandas as pd
import classes as cls

tratamento_json = cls.Tratamentojson()
tratamento_json.lerarquivos('coleta_dia01.json')

Abaixo está o arquivo lido:
 [
    {
        "Produto": "Notebook Gamer",
        "Categoria": "Eletrônicos",
        "Quantidade": 3,
        "Venda": 1500,
        "Data": "2023-01-15"
    },
    {
        "Produto": "Mouse Sem Fio",
        "Categoria": "Periféricos",
        "Quantidade": 10,
        "Venda": 30,
        "Data": "2023-01-15"
    },
    {
        "Produto": "Teclado Mecânico",
        "Categoria": "Periféricos",
        "Quantidade": 5,
        "Venda": 100,
        "Data": "2023-01-15"
    }
]

Exibição da leitura do resultado da concatenação dos três DataFrames

In [8]:
df = pd.read_csv('dados_concatenados.csv')
df.style

Exibição dos dados formatados

In [9]:
df = pd.read_csv('dados_formatados.csv')
df.style

Exibição das categorias agrupadas

In [10]:
df = pd.read_csv('categorias_agrupadas.csv')
df.style

Exibição das vendas totais de cada produto

In [11]:
df = pd.read_csv('vendas_totais.csv')
df.style

Filtro das vendas superiores a R$ 10.000,00

In [12]:
df = pd.read_csv('vendasup10mil.csv')
df.style